{% extends 'base.html' %}

{% block body %}
<div id="header">
  <title>Mesa i965 CI results</title>
  <h1>Results for {{ job }}/{{ build_name }}/{{ group_name }}:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
  <div id="contentsbox">
      {% if revisions_tuples %}
      <span><a href="#revisions">Revisions</a></span>
      {% endif %}
      {% if components %}
      <span><a href="#components">Components</a></span>
      {% endif %}
      {% if subgroups %}
      <span><a href="#subgroups">Subgroups</a></span>
      {% endif %}
      {% if test_results %}
      <span><a href="#test_results">Tests</a></span>
      {% endif %}
      {% if fails %}
      <span><a href="#fails">Failures</a></span>
      {% endif %}
      <span class="header_text">Search tests:<form style="display: inline;" action="{{ group_id }}/search"><input type="text" style="min-width: 40em" name="q" value=""/></form></span>
  </div>
</div>


<div id="content">
  {% if result_path and revisions_tuples and internal_site %}
  <div id="buildactionsbox">
    <a class="link_button" href="{{ base_url + '/job/accept_failed_tests/parambuild/?result_path=' + result_path}}">Accept Changed Tests</a><br>
    <a class="link_button" href="{{ base_url + '/job/bisect_failures/parambuild/?result_path=' + result_path}}">Bisect Changed Tests</a><br>
    <a class="link_button" href="{{ base_url + '/job/' + job + '/parambuild/?revision=' + ' '.join(revisions_list)}}">Retest</a><br>
  </div>
  {% endif %}

  {% if revisions_tuples %}
  <div>
    <a id="revisions"></a>
    <a class="section-label{% if expanded_sections['revisions'] %}-expanded{% endif %}" href="{{ request.path + '?expand_toggle=revisions' }}">Revisions</a>
    <div class="section" {% if not expanded_sections['revisions'] %}style="display:None"{% endif %}>
      <table style="min-width:5%">
        <colgroup>
          <col/>
          <col/>
        </colgroup>
        {% for revision in revisions_tuples %}
        <tr>
          <td>{{ revision.name }}</td>
          <td {{ 'class=changed' if revision.changed }}>{{ revision.sha }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  {% if components %}
  <div>
    <a id="components"></a>
    <a class="section-label{% if expanded_sections['components'] %}-expanded{% endif %}" href="{{ request.path + '?expand_toggle=components' }}">Components</a>
    <div class="section" {% if not expanded_sections['components'] %}style="display:None"{% endif %}>
      <table style="width:100%">
        <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <tr>
          <th><a href="{{ request.path + '?sort_col=component_name&sort_section=components' }}">Component</a></th>
          <th><a href="{{ request.path + '?sort_col=arch&sort_section=components' }}">Arch</a></th>
          <th><a href="{{ request.path + '?sort_col=shard&sort_section=components' }}">Shard</a></th>
          <th><a href="{{ request.path + '?sort_col=start_time&sort_section=components' }}">Start Time</a></th>
          <th><a href="{{ request.path + '?sort_col=end_time&sort_section=components' }}">End Time</a></th>
          <th><a href="{{ request.path + '?sort_col=machine&sort_section=components' }}">Machine</a></th>
          <th><a href="{{ request.path + '?sort_col=status&sort_section=components' }}">Status</a></th>
          <th>Artifact(s)</a></th>
        </tr>
        {% for component in components %}
        <tr>
          {% if internal_site %}
          <td class="{{ component["status"] }}"><a href="{{ component["component_url"] }} ">{{ component["component_name"] }}</a></td>
          {% else %}
          <td class="{{ component["status"] }}">{{ component["component_name"] }}</td>
          {% endif %}
          <td class="{{ component["status"] }}">{{ component["arch"] }}</td>
          <td class="{{ component["status"] }}">{{ component["shard"] }}</td>
          <td class="{{ component["status"] }}">{{ component["start_time"] }}</td>
          <td class="{{ component["status"] }}">{{ component["end_time"] }}</td>
          {% if internal_site %}
          <td class="{{ component["status"] }}"><a href="{{ component["machine_url"] }} ">{{ component["machine"] }}</td>
          {% else %}
          <td class="{{ component["status"] }}">{{ component["machine"] }}</td>
          {% endif %}
          <td class="{{ component["status"] }}">{{ component["status"] }}</td>
          <td class="{{ component["status"] }}">
            {% for artifact in component["artifacts"] %}
            <a href="{{ request.path + '/' + component["component_id"] + '/artifacts/' + artifact["id"] }} ">{{ '[' + artifact["type"] + ']' }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  {% if subgroups %}
  <div>
    <a id="subgroups"></a>
    <a class="section-label{% if expanded_sections['subgroups'] %}-expanded{% endif %}" href="{{ request.path + '?expand_toggle=subgroups' }}">Subgroups</a>
    <div class="section" {% if not expanded_sections['subgroups'] %}style="display:None"{% endif %}>
        <div class="section">
          <table style="width:100%">
            <colgroup>
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
            </colgroup>
            <tr>
              <th><a href="{{ request.path + '?sort_col=subgroup_name&sort_section=subgroups' }}">Group Name</a></th>
              <th><a href="{{ request.path + '?sort_col=time&sort_section=subgroups' }}">Execution Time</a></th>
              <th><a href="{{ request.path + '?sort_col=pass_count&sort_section=subgroups' }}">Pass Count</a></th>
              <th><a href="{{ request.path + '?sort_col=filtered_pass_count&sort_section=subgroups' }}">Expected Failures</a></th>
              <th><a href="{{ request.path + '?sort_col=fail_count&sort_section=subgroups' }}">Fail Count</a></th>
            </tr>
            {% for subgroup in subgroups %}
            <tr>
              <td><a href="{{ subgroup["subgroup_id"] }}">{{ subgroup["subgroup_name"] }}</a></td>
              <td>{{ subgroup["time"] }}</td>
              <td>{{ subgroup["pass_count"] }}</td>
              {% if subgroup["filtered_pass_count"] %}
              <td class="skip">{{ subgroup["filtered_pass_count"] }}</td>
              {% else %}
              <td>{{ subgroup["filtered_pass_count"] }}</td>
              {% endif %}
              {% if subgroup["fail_count"] %}
              <td class="failure">{{ subgroup["fail_count"] }}</td>
              {% else %}
              <td>{{ subgroup["fail_count"] }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
    </div>
  </div>
  {% endif %}

  {% if test_results %}
  <div class="section">
    <a id="test_results"></a>
    <h2>tests</h2>
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        <th><a href="{{ request.path + '?sort_col=test_name&sort_section=test_results' }}">Test</a></th>
        <th><a href="{{ request.path + '?sort_col=hardware&sort_section=test_results' }}">Hardware</a></th>
        <th><a href="{{ request.path + '?sort_col=arch&sort_section=test_results' }}">Architecture</a></th>
        <th><a href="{{ request.path + '?sort_col=status&sort_section=test_results' }}">Status</a></th>
        <th><a href="{{ request.path + '?sort_col=filtered_status&sort_section=test_results' }}">Filtered Status</a></th>
      </tr>
      {% for test_result in test_results %}
      <tr>
        <td><a href="../results/{{ test_result["result_id"] }}">{{ test_result["test_name"] }}</a></td>
        <td>{{ test_result["hardware"] }}</td>
        <td>{{ test_result["arch"] }}</td>
        <td class="{{ test_result["status"] }}">{{ test_result["status"] }}</td>
        <td class="{{ test_result["filtered_status"] }}">{{ test_result["filtered_status"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  {% if fails %}
  <div class="section">
    <a id="fails"></a>
    <h2>failures</h2>
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        <th><a href="{{ request.path + '?sort_col=test_name&sort_section=fails' }}">Test Name</a></th>
        <th><a href="{{ request.path + '?sort_col=hardware&sort_section=fails' }}">Hardware</a></th>
        <th><a href="{{ request.path + '?sort_col=architecture&sort_section=fails' }}">Architecture</a></th>
        <th><a href="{{ request.path + '?sort_col=status&sort_section=fails' }}">Status</a></th>
        <th><a href="{{ request.path + '?sort_col=filtered_status&sort_section=fails' }}">Filtered Status</a></th>
        <th><a href="{{ request.path + '?sort_col=time&sort_section=fails' }}">Time</a></th>
      </tr>
      {% for fail in fails %}
      <tr>
        <td><a href="../results/{{ fail["result_id"] }}">{{ fail["test_name"] }}</a></td>
        <td>{{ fail["hardware"] }}</td>
        <td>{{ fail["arch"] }}</td>
        <td class="{{ fail["status"] }}">{{ fail["status"] }}</td>
        <td class="{{ fail["filtered_status"] }}">{{ fail["filtered_status"] }}</td>
        <td>{{ fail["time"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  </div>
  {% endblock %}
  </div>
